---
layout: default
title: Home
permalink: /
---

<div id="service">
  <div class="container">
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!-- <h1> © 哨兵安全实验室 </h1>-->
<!--</div>-->
<!--</div>-->
    <!----------分割线--------->
    <!--source <style and png files> from github.-->
    <div style="writing-mode: vertical-rl; font-family:STFangsong">
      <p class="Poetry-text" >草木风声势未安，孤舟惶恐再经滩。</p>
      <p class="Poetry-text">地名末旦埋踪易，楫指中流转道难。</p>
      <p class="Poetry-text"><strong>天意似将颁大任，微躯何厌忍饥寒。</strong></p>
      <p class="Poetry-text">长歌正气重来读，我比前贤路已宽。</p>
      <p class="Poetry-text">&nbsp;&nbsp;&nbsp;&nbsp;————郁达夫 · 《乱离杂诗》</p>
    </div>
    <div class="col-md-push-6 col-xs-offset-6 col-lg-push-6">
      <div class="width-full">
        <svg viewBox="0 0 300 305" class="width-fit">
          <defs>
            <mask id="https___github_githubassets_com_images_modules_site_home_astro-mona-alpha_jpg">
              <image width="300" height="305" href="/assets/img/post-bg/astro-mona-alpha.jpg"></image>
            </mask>
          </defs>
        <image mask="url(#https___github_githubassets_com_images_modules_site_home_astro-mona-alpha_jpg)" width="300" height="305" href="/assets/img/post-bg/astro-mona.jpg"></image>
        </svg>
      </div>
    </div><!--github style end-->
  </div><!--/container -->
<!--under construction <div class="col-lg-push-12"><svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" class="position-absolute width-full z-1" style="bottom: -1px;"><path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#fff"></path></svg></div>  --> 
</div><!--/service -->

<div class="container">
  <div class="row">
    <div  class="col-md-6 col-md-push-6">
      <h2> # 置顶文章 </h2> 
      {% for event in site.categories['event'] limit:5 %} 
      <div class="event" data-event-date="{{event.date | date: "%F"}}">
        <div class="event-title">
          <a href="{{ event.url | prepend: site.baseurl }}">
             <h4>{{ event.title }}</h4>
          </a>
        </div>
        <div class="event-meta">
          <span><strong>时间: </strong>{{event.date | date: "%F"}}{% if event.time %} {{event.time}} {% endif %}</span>
          <span class="event-tags">
            {% for tag in page.tags %}
            <span class="label label-success">{{tag}}</span>
            {% endfor %}
          </span>
          
          <span class="event-status">
          </span>
        {% if event.video or event.slides or event.youtube or event.audio %}
        <br>
        {% if event.slides %}
        <a data-toggle="tooltip" title="讲稿下载" class="label label-info" href="{{event.slides}}" target="_blank"><i class="fa fa-file-alt fa-fw"></i></a>
        {% endif %}
        {% endif %}
        </div>
        <div class="event-abstract">
        {{ event.excerpt | strip_html | truncate: 240, '...'}}
        </div>
      </div>
      {% endfor %} 
      <div>
        <a href={{"/events/"|prepend: site.baseurl}}><i class="fa fa-hand-o-right"></i> MORE</a>
      </div>
    </div>
    <div id="recent-posts" class="col-md-6 col-md-pull-6">
      <h2> # 博客窗口 </h2> 
      {% for post in site.categories['blog'] limit:5 %} 
      <div class="post">
        <div class="post-title">
          <a href="{{ post.url | prepend: site.baseurl }}">
             <h4><i class="fa fa-file-text-o"></i> {{ post.title }}</h4>
          </a>
        </div>
        <div class="post-meta">
          {{post.author}}, {{post.date | date: "%Y-%-m-%-d"}}
        </div>
        <div class="post-abstract">
        {{ post.excerpt | strip_html | truncate: 240, '...'}}
        </div>
      </div>
      {% endfor %} 
      <div>
        <a href={{"/blog/"|prepend: site.baseurl}}><i class="fa fa-hand-o-right"></i> MORE</a>
      </div>
    </div>
  </div>
  <div class="row">
  <div id="join-tuna" class="col-md-12">
    <h2> # 加入我们 </h2> 
    <p><a href="https://www.vulbox.com/team/ERRORS"><em>@</em>盒子团队 申请</a></p>
    <p><a><em>@</em>或者邮件联系 {{site.contactMail}}</a></p>
  </div>
  </div>
</div>

<div id="join-button" class="visible-xs">
  <div class="container">
    <div class="row">
      <div class="btn-group btn-group-justified col-xs-12">
        <a class="btn btn-large btn-success" href="https://www.vulbox.com/team/ERRORS"> 加入ERRORS / Join Us </a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
  var today = function() { 
    var pad = function (number) {
      var r = String(number);
      if ( r.length === 1 ) {
        r = '0' + r;
      }
      return r;
    }
    var _today = new Date();
    return Date.parse(
      _today.getFullYear().toString() + "-"
      + pad(_today.getMonth()+1) + "-"
      + pad(_today.getDate())
    );
  }();
});
</script>

<!--
vim: ts=2 sts=2 sw=2 expandtab
-->
