.A8SBwf{margin:0 auto;width:calc(632px+ 8px);padding-top:6px;width:auto;max-width:584px;position:relative}
.SDkEP{flex:1;display:flex;padding:5px 8px 0 14px}
.emcav .RNNXgb{border-bottom-left-radius:0;border-bottom-right-radius:0;border-color:rgba(223,225,229,0);
  box-shadow:0 1px 6px 0 #171717;background:#ffffff;@include dark{background:#303134}}
.L3eUgb{display:flex;flex-direction:column;height:100%}
.RNNXgb{display:flex;z-index:3;height:44px;border:1px solid #5f6368;
  box-shadow:none;border-radius:24px;margin:0 auto;width:calc(632px+ 6px);width:auto;background:#ffffff;
  @include dark{background:#202124}}.iblpc{display:flex;align-items:center;padding-right:13px;margin-top:-5px}
.a4bIc{display:flex;flex:1;flex-wrap:wrap}.dRYYxd{display:flex;flex:0 0 auto;margin-top:-5px;align-items:stretch;flex-direction:row}
.aajZCb{display:flex;flex-direction:column;list-style-type:none;margin:0;padding:0;overflow:hidden;border-radius:0 0 24px 24px;
  box-shadow:0 4px 6px 0 #171717;border:0;padding-bottom:4px;background:#ffffff;
  @include dark{background:#303134}}.xtSCL{margin:0 20px 0 14px;padding-bottom:4px;
  @include dark{border-top:1px solid #5f6368}}
.gLFyf{background-color:transparent;border:0;margin:0;padding:0;word-wrap:break-word;outline:0;display:flex;flex:100%;
  -webkit-tap-highlight-color:transparent;margin-top:-37px;height:34px;font-size:16px;color:#000000;@include dark{color:#e8eaed}}
#shJ2Vb{display:none}.OBMEnb{padding:0;margin:0}
.G43f7e{display:flex;flex-direction:column;min-width:0;padding:0}.Ye4jfc{flex-direction:row;flex-wrap:wrap}
.lJ9FBc{height:70px}.lJ9FBc input[type="submit"],.gbqfba{background-color:#303134;border:1px solid #303134;border-radius:4px;color:#e8eaed;font-family:arial,sans-serif;font-size:14px;margin:11px 4px;padding:0 16px;line-height:27px;height:36px;min-width:54px;text-align:center;cursor:pointer;user-select:none}.lJ9FBc input[type="submit"]:hover{box-shadow:0 1px 3px rgba(23,23,23,0.24);background-color:#303134;border:1px solid #5f6368;color:#e8eaed}.lJ9FBc input[type="submit"]:focus{border:1px solid #5f6368;outline:none}
.aajZCb .lJ9FBc input,.aajZCb .lJ9FBc input:hover{background:#3c4043}
.MG7lrf{font-size:8pt;margin-top:-20px;position:absolute;right:35px;}
.UUbT9{/*position:absolute;*/text-align:left;z-index:3;cursor:default;-webkit-user-select:none;width:100%;margin-top:-1px;}
.minidiv .aajZCb{border-bottom-left-radius:16px;border-bottom-right-radius:16px}.mkHrUc{display:flex;}
.h3L8Ub .rLrQHf{padding-bottom:16px}
.h3L8Ub .rLrQHf{margin-right:30px}
.h3L8Ub .rLrQHf{width:44%}
.erkvQe{padding-bottom:8px;flex:auto;}.RjPuVb{height:1px;margin:0 26px 0 0;}.S3nFnd{display:flex}
.S3nFnd .RjPuVb,.S3nFnd .aajZCb{flex:0 0 auto}
.lh87ke:link,.lh87ke:visited{color:#8ab4f8;cursor:pointer;font:11px arial,sans-serif;padding:0 5px;margin-top:-10px;text-decoration:none;flex:auto;align-self:flex-end;margin:0 16px 5px 0}
.lh87ke:hover{text-decoration:underline}
.sb53.sb53{padding:0 4px;margin:0}
#YMXe{display:none}.sbct{display:flex;align-items:center;min-width:0;padding:0;}
.eIPGRd{flex:auto;display:flex;align-items:center;margin:0 20px 0 14px}
.pcTkSc{display:flex;flex:auto;flex-direction:column;min-width:0;padding:6px 0}.sbic{display:flex;align-items:center;margin:0 13px 0 1px;}
.sbic.vYOkbe{background:center/contain no-repeat;border-radius:4px;min-height:32px;min-width:32px;margin:4px 7px 4px -5px;}
.sbre .wM6W7d{line-height:18px}.ClJ9Yb{line-height:12px;font-size:13px;color:#9aa0a6;margin-top:2px}
.wM6W7d{display:flex;font-size:16px;flex:auto;align-items:center;word-break:break-word;padding-right:8px}
.minidiv .wM6W7d{font-size:14px}.WggQGd{color:#c58af9}.wM6W7d span{flex:auto}.AQZ9Vd{display:flex;align-self:stretch;}
.JCHpcb:hover{color:#48a1ff;text-decoration:underline;}.JCHpcb{color:#969ba1;font:13px arial,sans-serif;cursor:pointer;align-self:center}
.sbhl{background:#3c4043;}@media (hover:hover){.sbai{visibility:hidden}.sbhl .sbai{visibility:inherit}}.mus_pc{display:block;margin:6px 0}.mus_il{font-family:Arial,HelveticaNeue-Light,HelveticaNeue,Helvetica;padding-top:7px;position:relative}.mus_il:first-child{padding-top:0}.mus_il_at{margin-left:10px}.mus_il_st{right:52px;position:absolute}.mus_il_i{align:left;margin-right:10px}.mus_it3{margin-bottom:3px;max-height:24px;vertical-align:bottom}
.mus_it5{height:24px;width:24px;vertical-align:bottom;margin-left:10px;margin-right:10px;transform:rotate(90deg)}
.mus_tt3{color:#9aa0a6;font-size:12px;vertical-align:top}
.mus_tt5{color:#f28b82;font-size:14px}.mus_tt6{color:#81c995;font-size:14px}.mus_tt8{font-size:16px;font-family:Arial,sans-serif}
.mus_tt17{color:#e8eaed;font-size:20px}.mus_tt18{color:#e8eaed;font-size:28px}.mus_tt19{color:#9aa0a6;font-size:12px}
.mus_tt20{color:#9aa0a6;font-size:14px}.mus_tt23{color:#9aa0a6;font-size:18px}
a.oBa0Fe{color:#9aa0a6;float:right;font-style:italic;-webkit-tap-highlight-color:rgba(255,255,255,0);tap-highlight-color:rgba(255,255,255,0)}a.aciXEb{padding:0 5px;}.RTZ84b{color:#616161;cursor:pointer;padding-right:8px}.XEKxtf{color:#616161;float:right;font-size:12px;line-height:16px;padding-bottom:4px}
#ynRric{display:none}.ynRric{list-style-type:none;flex-direction:column;color:#999da2;font-family:Google Sans,arial,sans-serif-medium,sans-serif;font-size:14px;margin:0 20px 0 16px;padding:8px 0 8px 0;line-height:16px;width:100%}
.minidiv .gLFyf{margin-top:-35px;}.a4bIc{display:flex;flex:1;flex-wrap:wrap}
.YacQv{color:transparent;flex:100%;white-space:pre;height:34px;font-size:16px;}
.YacQv span{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAECAYAAAC3OK7NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFhJREFUeNpiZACCL93NCkAqAYgv8JTWbkAT2wAUu8AIFDAAcvaDBIA4AIgLQRqgYgeA2AGIHZmgAoVAXYkgASDuB+LzULFAqMb9ICtApqAAoJgAGj8AIMAAwSMfC4GFoWEAAAAASUVORK5CYII=") repeat-x scroll 0 100% transparent;padding:0 0 10px 0;}
.XDyW0e{flex:1 0 auto;display:flex;cursor:pointer;align-items:center;border:0;background:transparent;outline:none;padding:0 8px;width:24px;line-height:44px}
.goxjub{height:24px;width:24px;vertical-align:middle}.minidiv .XDyW0e{line-height:32px}.minidiv .goxjub{width:20px;height:20px}
.dRYYxd{display:flex;flex:0 0 auto;margin-top:-5px;align-items:stretch;flex-direction:row}.minidiv .dRYYxd{margin-top:0}
.BKRPef{background:transparent;align-items:center;flex:1 0 auto;flex-direction:row;display:flex;cursor:pointer}
.vOY7J{background:transparent;border:0;align-items:center;flex:1 0 auto;cursor:pointer;display:none;height:100%;line-height:44px;outline:none;padding:0 12px}
.M2vV3{display:flex}.ExCKkf{height:100%;color:#757b80;vertical-align:middle;outline:none}.minidiv .vOY7J{line-height:32px}.minidiv .ExCKkf{width:20px}
.BKRPef{padding-right:4px}.ACRAdd{border-left:1px solid #5f6368;height:65%}.ACRAdd{display:none}.ACRAdd.M2vV3{display:block}

//---
.finder__icon:after,.finder__icon:before {
  display:block;
  content:"";
  position:absolute;
  transition:all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.finder__icon:after {
  width:10px;
  height:10px;
  background-color:#292929;
  border:3px solid #f6f5f0;
  top:50%;
  position:absolute;
  transform:translateY(-50%);
  left:0px;
  right:0;
  margin:auto;
  border-radius:50%;
}
.active .finder__icon:after {
  border-width:10px;
  background-color:#f6f5f0;
}
.finder__icon:before {
  width:4px;
  height:13px;
  background-color:#f6f5f0;
  top:50%;
  left:20px;
  transform:rotateZ(45deg) translate(-50%,0);
  transform-origin:0 0;
  border-radius:4px;
}
.processing .finder__icon {
  transform-origin:50%;
  animation:spinner 0.3s linear infinite;
  animation-delay:0.5s;
}
.active .finder__icon {
  transform:translateY(-5px);
}
@keyframes spinner {
  0% {
    transform:rotateZ(45deg);
  }
  100% {
    transform:rotateZ(405deg);
  }
}
/*.sb7{background:url() no-repeat ;min-height:0px;min-width:0px;height:0px;width:0px}*/
/*.sb27{background:url(/images/searchbox/desktop_searchbox_sprites318_hr.webp) no-repeat 0 -21px;background-size:20px;min-height:20px;min-width:20px;height:20px;width:20px}*/
/*.sb43{background:url(/images/searchbox/desktop_searchbox_sprites318_hr.webp) no-repeat 0 0;background-size:20px;min-height:20px;min-width:20px;height:20px;width:20px}*/