<!--
   - FlipClock design
   -    @link{https://github.com/objectivehtml/FlipClock}

-->
<link rel="stylesheet" href="/assets/flipclock/flipclock.css">
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script src="/assets/flipclock/flipclock.js"></script>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!--<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->

<div  class="clock" style="margin-bottom:2em;margin-top:2em;"><span ></span></div>
<div class="flex items-center mb3 mb3-ns mb3-m mb0-l lh-1 mt0 mt3-ns" >
    {% for footers in site.data.footer_define %}
    {% assign footer = footers.footer %}
    {% assign footer_link = footers.footer_link %}
    <div id="{{footer}}"><a class="lh-1 dib mr2" title="{{footer}}" target="_blank" rel="noopener" href="{{footer_link}}"></a></div>
    {% endfor %}
</div>
<!--<button type="button" class="increment" style="margin: 25px; font-size: 20px; padding: 15px;">+1</button>-->
<!--<button type="button" class="decrement" style="margin: 25px; font-size: 20px; padding: 15px;">-1</button>-->
<!--<button type="button" class="reset" style="margin: 25px; font-size: 20px; padding: 15px;">Reset</button>-->
<!-- @link {https://profile-counter.glitch.me/bin4xin.github.io/count.svg} -->
<span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    function setInitialCount(num) {
        var init_SiteOffset = parseInt(num);
        busuanzi_value_site_pv = 2000
        all_counts = init_SiteOffset + busuanzi_value_site_pv
        return all_counts
    }
</script>

<script type="text/javascript">
    var clock;
    $(document).ready(function() {
        // Instantiate a counter
        // clock = new FlipClock($('.clock'), init_SiteOffset + busuanzi_count , {
        clock = new FlipClock($('.clock'), (setInitialCount(66746)) , {
        clockFace: 'Counter'
        });
        // Attach a click event to a button an increment the clock
        $('.increment').click(function() {
            //clock.setValue(10); Or you could decrease the clock // clock.decrement();
            clock.increment();
            // Or set it to a specific value
            // clock.setValue(x);
        });
        // Attach a click event to a button a decrement the clock
        $('.decrement').click(function() {
            clock.decrement();
        });
        $('.reset').click(function() {
            clock.reset();
        });
    });
</script>