{% for group in posts_about_desc %}
	<details class="nav-group" {% if page.desc contains group.name %}open{% endif %}>
		<summary class="nav-group-title">
			{{ group.name | replace: "「", "" | replace: "」", "" | upcase }}
		</summary>
		<ul class="nav-list">
			{% for post in group.items %}
			<li class="nav-item {% if post.Researchname == page.Researchname or post.redirect_help_id == page.Researchname %}active{% endif %}">
				<a class="nav-link" href="{{ post.url }}">
					{{ forloop.index | roman }}. {{ post.Researchname | upcase }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</details>
{% endfor %}
