{% if page.toc %}
<div class="ml-hide article-index thin-scrollbar position-sticky top-0" style="max-height: 100vh; overflow-y: auto;">
    <div class="nav nav-stacked tableOfContents_35-E">
        <li class=" table-of-contents">
            <code-index-css>
                <ul><li class="no-underline table-of-contents Item__StyledItem-sc-yeql7o-2 edSFyN flex-column"><a>文章目录</a></li></ul>
                {{ content | toc_only }}
            </code-index-css>
        </li>
    </div>
</div>
{% endif %}
