<csmall class="d-flex no-underline ">
    <div class="">
        <div class="my-3 col-7 d-flex">
            <a class="author-avatar-small d-flex px-md-6">
                  {% assign author = site.data.writer[post.author] %}
                  <img alt="{{ author.display_name }}" src="https://avatars.githubusercontent.com/u/{{ author.gh_avatars }}?v=4"/>
                {%comment%}<span class="content-summary-icon"></span>{%endcomment%}
            </a>
            <a class="d-flex color-fg-default px-md-6" href="https://github.com/{{ post.author }}" target="_blank">
                {{ post.author }}
            </a>
            <!--article author end-->
        </div>
        <!--article author avatar img. end-->

    </div>
    <div class="my-3 col-7 d-flex px-md-6">
        {% assign date_now_year = site.time |date: "%Y" %}
        {% assign date_now_month = site.time |date: "%m" %}
        {% assign date_now_day = site.time |date: "%d" %}

        {% assign date_post_year = post.date |date: "%Y"%}
        {% assign date_post_month = post.date |date: "%m" %}
        {% assign date_post_day = post.date |date: "%d" %}

        {% if post.wrench %}· Edited: {{ post.wrench | date: "%Y-%m-%d"  }}
        {% endif %}

        ·{% if date_now_year > date_post_year %}
        about {{ date_now_year | minus: date_post_year }}Y ago
        {% elsif date_now_month > date_post_month %}
        about {{ date_now_month | minus: date_post_month }}M ago
        {% elsif date_now_day > date_post_day %}
        about {{ date_now_day | minus: date_post_day }}D ago
        {% endif %}
    </div>
</csmall>