<div class="sentinel-container" id="app">
    <section>
        <div class="sentinel-card">
            <div class="card-info">
                {% for about in site.categories['about'] limit:1 %}
                <a href="{{ about.url | prepend: about.baseurl }}">
                    <h1 id="card-info-title" class="hp-gradient_blue-green_v hp-gradient_text">
                        最新有关{% if about.desc %}::{{ about.desc | replace: "「", "" | replace: "」", ""|upcase }}::{% endif %}的描述。
                    </h1>
                </a>
                <p><span data-view-component="true" class="badge badge-theme">{{ about.category }}</span>
                    {{ about.desc | replace: "「", "" | replace: "」", ""|upcase }}::{{about.Researchname}}::</p>
                    <p class="card-info-desc-center">{{ about.excerpt | strip_html | truncate: 268, '...'}}</p>
                {% endfor %}
            </div>
<!--            <div class="ml-hide card-photo">-->
<!--                <div id="mask-1" class="mask"></div>-->
<!--                <div id="mask-2" class="mask"></div>-->
<!--                <a href="#"><p>Next</p><svg viewBox="0 0 20 10"><line x1="0" y1="5" x2="20" y2="5"></line><line x1="15" y1="0" x2="20" y2="5"></line><line x1="15" y1="10" x2="20" y2="5"></line></svg></a>-->
<!--                <img src="https://images.unsplash.com/photo-1649011327045-624a1bd2c3e7?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=853&amp;q=80">-->
<!--                <div style="font-family:STFangsong">-->
<!--                    <div style="writing-mode: vertical-rl; " class="pull-right">-->
<!--                        <p class="Poetry-text" >草木风声势未安，孤舟惶恐再经滩。</p>-->
<!--                        <p class="Poetry-text">地名末旦埋踪易，楫指中流转道难。</p>-->
<!--                        <p class="Poetry-text"><strong>天意似将颁大任，微躯何厌忍饥寒。</strong></p>-->
<!--                        <p class="Poetry-text">长歌正气重来读，我比前贤路已宽。</p>-->
<!--                        <p class="Poetry-text">&nbsp;&nbsp;&nbsp;&nbsp;————郁达夫 · 《乱离杂诗》</p>-->
<!--                    </div>-->
<!--                    <div class="page-print">-->
<!--                        <p class="Poetry-text">竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。</p>-->
<!--                        <p class="Poetry-text">&nbsp;&nbsp;&nbsp;&nbsp;————苏轼 · 《定风波》</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
</div>