<script src="/assets/js/copy.js"></script>
<!--TODONE.
**FireFox display BUG**
position-fixed in FireFox display position -> none
- Reference:
    - { @link https://developer.mozilla.org/zh-CN/docs/Web/CSS/position#browser_compatibility }
    - { @link https://blog.csdn.net/DDD4V/article/details/123354124 }
    - { @link https://juejin.cn/post/6844904100576886797 }
        - { @link Demo https://codepen.io/li377242494/pen/VwLGGaR }
Fiex In `[assets/css/style.scss](https://github.com/Bin4xin/bin4xin.github.io/blob/main/assets/css/style.scss)`
    - tooltipped css postion.
-->

<!--<link rel="preload" href="https://bobbyhadz.com/_next/static/css/b9669d7c5a48325f.css" as="style"/>-->
<!--<link rel="stylesheet" href="https://bobbyhadz.com/_next/static/css/b9669d7c5a48325f.css" data-n-g=""/>-->

<divs role="tooltip" class="position-fixed bottom-0 mb-4 right-5 mr-4 z-1 transition-200 opacity-0" onclick="$(&quot;html,body&quot;).animate({scrollTop:0}, 1000);">
    <button class="tooltipped tooltipped-n tooltipped-no-delay color-bg-accent-emphasis color-fg-on-emphasis circle border-0" style="width:45px;height:45px"
            aria-label="滚动到顶部">
        <svg aria-hidden="true" role="img" class="octicon octicon-chevron-up" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom;overflow:visible">
            <path fill-rule="evenodd" d="M3.22 9.78a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 0l4.25 4.25a.75.75 0 01-1.06 1.06L8 6.06 4.28 9.78a.75.75 0 01-1.06 0z">
            </path>
        </svg>
    </button>
</divs>
