<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      {% include pic.html name="logo-small" %}{% if site.harmony %}{{ site.harmony }}{% else %}{{ site.title }}{% endif %}
      </a>
      <!--click this icon -> scroll to top of page; code from anquanke. also this icon func are under-construction-->
      <!--<div class="back-to-top" onclick="$(&quot;html,body&quot;).animate({scrollTop:0}, 500);" style="position: fixed;bottom:400px;right: 20px;height: 40px;width: 40px;background-color: #1dada7;border-radius: 50%;text-align: center;cursor: pointer">
      <img src="https://p0.ssl.qhimg.com/t0179ac3294ef926b8c.png" style="width:30px;margin-top: 6px;">
      </div> -->
      <!--class: click to top      <a class="navbar-brand" href="/">-->
      <!--        <div class="back-to-top" onclick="$(&quot;html,body&quot;).animate({scrollTop:0}, 500);"-->
      <!--        </div>-->
    </div>
    <div class="navbar-collapse collapse navbar-right">

      <ul class="nav navbar-nav">
        {% if site.harmony %}
        <li {% if page.permalink == "/" %}class="active"{% endif %}><a href="{{"/news/index.htm" | prepend: site.harmonyURL }}">:: HOME</a></li>
        <li><a href="{{"/news/ej.htm?page=zxzx" | prepend: site.harmonyURL }}">:: NEWS</a></li>
        <li><a href="{{"/news/ej.htm?page=ztbd" | prepend: site.harmonyURL }}">:: TOPICS</a></li>
        <li><a href="{{"/news/ej.htm?page=tbch" | prepend: site.harmonyURL }}">:: SPEICAL PLAN</a></li>
        <li><a href="http://www.19371213.com.cn">:: DATA RESEARCH</a ></li>
        <li><a href="{{"/2016-11/29/c_135866990.htm" | prepend: site.harmonyURL }}">:: CONTACT US</a></li>
        {% else %}
        <li {% if page.permalink == "/" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li {% if page.permalink == "/blog/" or page.categories contains "blog" %}class="active"{% endif %}><a href="{{"/blog/" | prepend: site.baseurl }}">BLOG</a></li>
<!--under construction <li {% if page.permalink == "/categories/" or page.categories contains "categories" %}class="active"{% endif %}><a href="{{"/categories/" | prepend: site.baseurl }}">CATEGORIES</a></li> -->
        <li {% if page.permalink == "/daily/" or page.categories contains "daily" %}class="active"{% endif %}><a href="{{"/daily/" | prepend: site.baseurl }}">DAILY</a></li>
        <li {% if page.permalink == "/about/" or page.categories contains "about" %}class="active"{% endif %}><a href="{{"/about/" | prepend: site.baseurl }}">ABOUT</a></li>
        <li {% if page.permalink == "/feed.xml" or page.categories contains "feed" %}class="active"{% endif %}><a href="{{"/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        <li {% if page.permalink == "/usage/" or page.categories contains "usage" %}class="active"{% endif %}><a href="{{"/usage/" | prepend: site.baseurl }}">QUICK START</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>