<!-- HTML elements for search -->
<style>
    .docsearch-modal-footer-commands {
        color: #969faf;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .docsearch-modal-footer-commands-key {
        align-items: center;
        background: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
        border: 0;
        border-radius: 3px;
        box-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,.4);
        color: #969faf;
        display: flex;
        justify-content: center;
        margin-right: 4px;
        padding: 3px;
    }
</style>
<div class="spacing"></div>
<div jscontroller="cnjECf" jsmodel="QubRsd a4L2gc QwwFZb BFDhle gx0hCb TnHSdd icv1ie " class="emcav">
    <!--search button/form-->
    <div class="RNNXgb" jsname="RNNXgb"><div class="SDkEP">
        <div class="iblpc" jsname="uFMOof"></div>
        <div jscontroller="vZr2rb" class="a4bIc" jsname="gLFyf" jsaction="h5M12e;input:d3sQLd;blur:jI3wzf">
            <div class="YacQv gsfi" jsname="vdLsw"></div>
            <input id="search-input" placeholder="搜索 {{site.root}}" class="gLFyf gsfi" maxlength="2048" name="q" type="text" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="搜索 {{site.root}}" aria-label="搜索 {{site.root}}">
        </div>
            <div class="dRYYxd">
                <div jscontroller="PymCCe" jsname="RP0xob" class="BKRPef">
                    <div class="vOY7J M2vV3" tabindex="0" role="button"></div>
                    <span jsname="s1VaRe" class="ACRAdd M2vV3"></span>
                </div>
                <div class="XDyW0e" aria-label="搜索" role="button" tabindex="0">
                    <div class="fa fa-search"></div>
                </div>
            </div>
        </div>
    </div>
    <!--search button/form end-->
    <div class="L3eUgb" data-hveid="1">
        <div jscontroller="Dvn7fe" class="UUbT9"><!--result box-->
            <div class="aajZCb" jsname="aajZCb"><div class="xtSCL"></div>
                <div class="mkHrUc">
                    <ul class="erkvQe" jsname="erkvQe" role="listbox"><div class="OBMEnb" role="presentation">
                        <ul jsname="bw4e9b" class="G43f7e" role="listbox">
                            <li data-view-type="1" class="sbct" role="presentation" jsaction="click:.CLIENT;mouseover:.CLIENT">
                                <div class="eIPGRd"><div class="sbic sb43" style=""></div><div class="pcTkSc" role="option">
                                <div class="results-container" id="results-container"></div>
                                </div></div></li></ul>
                    </div></ul>
                </div>
                <div jsname="VlcLAe" class="lJ9FBc">
                    <center>
                        <span class="docsearch-modal-footer-commands">
                            <kbd class="docsearch-modal-footer-commands-key">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" aria-label=""><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                    <path d="M3 14a1 1 0 0 1 1-1h12a3 3 0 0 0 3-3V6a1 1 0 1 1 2 0v4a5 5 0 0 1-5 5H4a1 1 0 0 1-1-1z"></path>
                                <path d="M3.293 14.707a1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 1.414L5.414 14l3.293 3.293a1 1 0 1 1-1.414 1.414l-4-4z"></path></g></svg>
                            </kbd>
                            <span class="docsearch-modal-footer-commands-label">回车选中&nbsp;</span>
                            <kbd class="docsearch-modal-footer-commands-key">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" aria-label="下方向键">
                                <path fill="currentColor" d="M12 4a1 1 0 0 1 1 1v11.586l4.293-4.293a1 1 0 0 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 1 1 1.414-1.414L11 16.586V5a1 1 0 0 1 1-1z"></path></svg>
                            </kbd>
                            <kbd class="docsearch-modal-footer-commands-key">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" aria-label="上方向键">
                                    <path fill="currentColor" d="M12 4a1 1 0 0 1 .707.293l6 6a1 1 0 0 1-1.414 1.414L13 7.414V19a1 1 0 1 1-2 0V7.414l-4.293 4.293a1 1 0 0 1-1.414-1.414l6-6A1 1 0 0 1 12 4z"></path></svg>
                            </kbd>
                            <span class="docsearch-modal-footer-commands-label">移动&nbsp;</span>

                            <kbd class="docsearch-modal-footer-commands-key">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash" viewBox="0 0 16 16">
                                  <path d="M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </kbd>
                            <span class="docsearch-modal-footer-commands-label">快速搜索&nbsp;</span>

                        </span>
                    </center>
<!--                            <kbd class="docsearch-modal-footer-commands-key">-->
<!--                            <svg width="15" height="15" viewBox="0 0 15 15" role="img" aria-label="关闭"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2">-->
<!--                            <path d="M13.6167 8.936c-.1065.3583-.6883.962-1.4875.962-.7993 0-1.653-.9165-1.653-2.1258v-.5678c0-1.2548.7896-2.1016 1.653-2.1016.8634 0 1.3601.4778 1.4875 1.0724M9 6c-.1352-.4735-.7506-.9219-1.46-.8972-.7092.0246-1.344.57-1.344 1.2166s.4198.8812 1.3445.9805C8.465 7.3992 8.968 7.9337 9 8.5c.032.5663-.454 1.398-1.4595 1.398C6.6593 9.898 6 9 5.963 8.4851m-1.4748.5368c-.2635.5941-.8099.876-1.5443.876s-1.7073-.6248-1.7073-2.204v-.4603c0-1.0416.721-2.131 1.7073-2.131.9864 0 1.6425 1.031 1.5443 2.2492h-2.956"></path></g></svg></kbd><span class="docsearch-modal-footer-commands-label">关闭</span></li></span>-->
<!--                        <input class="gNO89b" value="键入&nbsp;/&nbsp;跳转搜索" aria-label="Press / Jump to search" name="btnK" role="button" tabindex="0" type="submit" data-ved="0ahUKEwj7_fzcuuL6AhXAmlYBHUBLCPIQ4dUDCAc">-->
<!--                        <kbd class=""></kbd>-->
<!--                        <input class="RNmpXc" value="&nbsp;上、&nbsp;下键选择" aria-label="&nbsp;上、&nbsp;下键选择" name="btnI" type="submit">-->

                </div>
            </div>
        </div>
    </div><!--result box end-->
</div>