<!-- HTML elements for search -->
<div class="spacing"></div>
<div jscontroller="cnjECf" jsmodel="QubRsd a4L2gc QwwFZb BFDhle gx0hCb TnHSdd icv1ie " class="emcav">
    <!--search button/form-->
    <div class="RNNXgb" jsname="RNNXgb"><div class="SDkEP">
        <div class="iblpc" jsname="uFMOof"></div>
        <div jscontroller="vZr2rb" class="a4bIc" jsname="gLFyf" jsaction="h5M12e;input:d3sQLd;blur:jI3wzf">
            <div class="YacQv gsfi" jsname="vdLsw"></div>
            <input id="search-input" placeholder="搜索 {{site.root}}" class="gLFyf gsfi" maxlength="2048" name="q" type="text" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="搜索 {{site.root}}" aria-label="搜索 {{site.root}}">
        </div>
            <div class="dRYYxd">
                <div jscontroller="PymCCe" jsname="RP0xob" class="BKRPef">
                    <div class="vOY7J M2vV3" tabindex="0" role="button"></div>
                    <span jsname="s1VaRe" class="ACRAdd M2vV3"></span>
                </div>
                <div class="XDyW0e" aria-label="搜索" role="button" tabindex="0">
                    <div class="fa fa-search"></div>
                </div>
            </div>
        </div>
    </div>
    <!--search button/form end-->
    <div class="L3eUgb" data-hveid="1">
        <div jscontroller="Dvn7fe" class="UUbT9"><!--result box-->
            <div class="aajZCb" jsname="aajZCb"><div class="xtSCL"></div>
                <div class="mkHrUc">
                    <ul class="erkvQe" jsname="erkvQe" role="listbox"><div class="OBMEnb" role="presentation">
                        <ul jsname="bw4e9b" class="G43f7e" role="listbox">
                            <li data-view-type="1" class="sbct" role="presentation" jsaction="click:.CLIENT;mouseover:.CLIENT">
                                <div class="eIPGRd"><div class="sbic sb43" style=""></div><div class="pcTkSc" role="option">
                                <div class="results-container" id="results-container"></div>
                                </div></div></li></ul>
                    </div></ul>
                </div>
                <div jsname="VlcLAe" class="lJ9FBc">
                    <center> <input class="gNO89b" value="键入&nbsp;/&nbsp;跳转搜索" aria-label="Press / Jump to search" name="btnK" role="button" tabindex="0" type="submit" data-ved="0ahUKEwj7_fzcuuL6AhXAmlYBHUBLCPIQ4dUDCAc">
                        <input class="RNmpXc" value="&nbsp;上、&nbsp;下键选择" aria-label="&nbsp;上、&nbsp;下键选择" name="btnI" type="submit">
                    </center>
                </div>
            </div>
        </div>
    </div><!--result box end-->
</div>