<div class="col-lg-3 sticky" xmlns="http://www.w3.org/1999/html">

<!--notice start-->
    {% for notes in site.data.notes %}

    {% assign note_node = notes.note_node %}
    {% assign display_note = notes.display_note %}
    {% assign display_link = notes.display_link %}
    {% assign display_bg_link = notes.display_bg_link %}
    {% assign svg_link = notes.svg_link %}
    <div>
        <div class="js-notice">
            <form class="Box-aricle position-relative rounded-2 mb-4 p-3 js-notice-dismiss overflow-hidden" style="z-index: 1" data-turbo="false">
                <picture>
                    <img src="{{display_bg_link}}" alt="" class="position-absolute top-0 left-0 width-full" style="pointer-events: none; z-index: -1; height: 100%; height: 100%; object-fit: cover">
                </picture>
                <!--TODO:
                 !--- issue 1. While click to close the <X button/div>, whole h5 page will refresh. I don't know why.
                 !--- issue 2. By <Js function> custom_close change/add div's class to hide buttons/divs, so while have 2 or more, all will close
                 ;*(
                --><!--
                <div class="position-absolute p-2" style="top: 4px; right: 6px;" onClick="custom_close()">
                    <button aria-label="Close" type="submit" data-view-component="true" class="close-button color-fg-on-emphasis">
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                    <path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
                    </svg></button>
                </div>
                -->
                <img src="{{svg_link}}" alt="SentrySec feed" width="32" height="32" class="d-block">
                <p class="my-3 col-7 color-fg-on-emphasis text-bold h4">
                    {{display_note}}
                </p>

                <div class="content">
                    <p>
                        <a href="{{display_link}}" class="btn-primary btn btn-block" target="blank">
                            More about {{note_node}}
                            <span class="DocsMarkdown--link-external-icon">
                            <svg fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 16 16" role="img" aria-labelledby="title-9637423397128071" xmlns="http://www.w3.org/2000/svg"><title id="title-9637423397128071">External link icon</title><path d="M6.75,1.75h-5v12.5h12.5v-5m0,-4v-3.5h-3.5M8,8l5.5-5.5"></path></svg>
                            </span>
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
<!--notice end-->
    <div class="spacing"></div>
    <h4> Search/搜索 <kbd>Ctrl ⌃</kbd> + <kbd>F</kbd></h4>
    <p>e.g. Nginx：</p>
    <p><a href="/blog/2019/how-nginx/http2https/">NGINX笔记：http升级https协议</a> </p>
    <p><a href="/blog/2019/nginx/with/jekyll-site/">多子域：JEKYLL优雅地部署于NGINX</a> </p>
</div>

{% include sidebar.html %}