<div class="col-lg-3">
    <div class="hidden-print">
        <h4><ion-icon name="grid-sharp"></ion-icon> 分类目录</h4>
        <div class="hline"></div>
        <div class="spacing"></div>
        {% if page.categories.size > 0 %}
            <div class="post-meta mb-3">
                <details open>
                    <summary class="point">本文分类</summary>
                    {% for category in page.categories %}{% unless category.first == "blog" or category.first == "event" %}
                    <p>
                        <i class="far fa-folder fa-fw mr-1"></i> <a href='{{ site.baseurl }}/{{ category | center | url_encode }}/'>{{ category }}</a>
                        {%- unless forloop.last -%} {%- endunless -%}
                    </p>
                    {% endunless %}{% endfor %}
                </details>
            </div>
            {% endif %}
            <p>
        <details open>
            <summary class="point">所有标签/数量</summary>
            {% for category in site.categories %}
            <p>
                <i class="fa fa-angle-right"></i> {{ category | first | upcase }}
                <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
            </p>
            {% endfor %}
        </details>
    </div><!--class="hidden-print" stop-->
</div>
{% if page.toc %}
<div class="col-sm-3 ml-hide hidden-print">
    <div class="nav nav-stacked tableOfContents_35-E thin-scrollbar">
        <h5 class="lead">文章目录</h5>
        <li class="table-of-contents__left-border table-of-contents">
            <code-index-css class="">
                {{ content | toc_only }}
            </code-index-css>
        </li>
    </div>
</div>
{% endif %}