{% comment %}
<div>
	<div class="hline"></div>
	<h3><em>#</em> 申明</h3>
	<div class="spacing"></div>
	<h4><em>By: {{ page.author }}.</em></h4>
	<h4>转载请申明本文链接：<a href="{{ page.url | prepend: site.baseurl }}" target="_blank"><code-index-css><em>《{{ page.title }}》</em></code-index-css></a></h4>

	<h3><em># Any Questions</em></h3>
	<div class="spacing"></div>
	<h4> >_ 对本文进行提问：<a href="{{site.githubAccess}}/{{site.githubRepos}}/issues/new?permalink={{site.githubAccess}}/{{site.githubRepos}}/blob/{{site.commitString}}{{ page.url | }}index.html%23L84" target="_blank"> <em><li class="fa fa-github"></li> Reference in new issue.</em></a></h4>

	<h4> >_ 对本文进行留言：<a href="{{site.githubAccess}}/{{site.githubRepos}}/issues/new?permalink=《{{ page.title }}》" target="_blank"> <em><li class="fa fa-github"></li> Leave a Comment.</em></a></h4>
	<div class="spacing"></div>
</div>
{% endcomment %}


<!--gitalk-->
{% assign gitalk = site.gitalk %}


<div class="comment">
<div id="gitalk-container"></div>
<!-- <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="/assets/css/card.css">
<script src="/assets/js/sentryabout.js"></script>

<!-- <h4> >_ 对本文进行留言：

<a href="{{site.githubAccess}}/{{site.githubRepos}}/issues/new?labels=Gitalk,comment&title={% if page.Researchname %}{{ page.Researchname }} |{% elsif page.title %} {{ page.title }} |{% endif %}{% if include.cattitle %} {{ include.cattitle }} |{% endif %}{% if (page.title || include.cattitle) %}{{" "}}{% endif %}{{ site.title }}{% if site.brand %} | {{ site.brand }}{% endif %}&permalink={{ page.url | prepend: site.url }}" target="_blank"> <em><li class="fa fa-github"></li> Leave a Comment.</em></a></h4>
 -->

<script>
	
var gitalk = new Gitalk({
    id: '{{page.url}}',
    clientID: '{{gitalk.clientID}}',
    clientSecret: '{{gitalk.clientSecret}}',
    repo: '{{site.githubRepos}}',
    owner: '{{site.githubRepos |split:"."|first}}',
    admin: ['{{site.githubRepos |split:"."|first}}'], 
	labels: ['Gitalk'],
	proxy: "https://bin4xin-repos-gitalk.3313336101.workers.dev/?https://github.com/login/oauth/access_token"
})
gitalk.render('gitalk-container')
</script> 
</div>