<div>
	<div class="hline"></div>
	<h3><em>#</em> 申明</h3>
	<div class="spacing"></div>
	<h4><em>By: {{ page.author }}.</em></h4>
	<h4>转载请申明本文链接：<a href="{{ page.url | prepend: site.baseurl }}" target="_blank"><code-index-css><em>《{{ page.title }}》</em></code-index-css></a></h4>

	<h3><em># Any Questions</em></h3>
	<div class="spacing"></div>
	<h4> >_ 对本文进行提问：<a href="{{site.githubAccess}}/{{site.githubRepos}}/issues/new?permalink={{site.githubAccess}}/{{site.githubRepos}}/blob/{{site.commitString}}{{ page.url | }}index.html%23L84" target="_blank"> <em><li class="fa fa-github"></li> Reference in new issue.</em></a></h4>

	<h4> >_ 对本文进行留言：<a href="{{site.githubAccess}}/{{site.githubRepos}}/issues/new?permalink=《{{ page.title }}》" target="_blank"> <em><li class="fa fa-github"></li> Leave a Comment.</em></a></h4>
	<div class="spacing"></div>
</div>