<!-- [x] 2022/10/20/10:49:36 fixed: while width < some inch. would be flex column not display like a row.-->
<footer>
	<style>.border-top {
		border-top: 1.5px solid #d0d7de!important;
	}</style>
	<div class="border-top"></div>
		<section class="container-xl mt-lg-8 mt-6 px-3 px-md-6 no-print mx-auto">
			<div class="col-xs-4-5 pr-4 mb-8 px-md-6 container-xl mx-auto py-6 py-lg-6 clearfix ">
				<h2 class="lead">申明</h2>
				<div>
					<div class="mb-2"><a href="{{ page.url | prepend: site.baseurl }}" target="_blank" class=" text-bold">
						<div class="fa fa-link"></div>
						转载请申明本文档链接</a></div>
					<div><a href="https://github.com/{{ page.author }}" target="_blank"  class="text-bold">
						<div class="fa fa-user"></div>
						Post by {{ page.author }}.</a>
					</div>
				</div>
			</div>
			<div class="col-xs-4-5 pr-4 mb-8 px-md-6 container-xl mx-auto py-6 py-lg-6 clearfix">
				<h2 class="lead">贡献开源文档</h2>
				<div>
					<a href="{{site.githubAccess}}/{{site.githubRepos}}/tree/{{site.githubRepos-Branch}}/{{page.path}}" target="_blank" class="no-underline btn mr-1 color-border-accent-emphasis">
						<svg aria-hidden="true" focusable="false" role="img" class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;"><path fill-rule="evenodd" d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z"></path></svg>
						贡献当前开源文档
					</a>
					<p class="f0_8-l mt-2 text-bold">此之前，学习开源贡献<a target="_blank" href="{{site.githubAccess}}/{{site.githubRepos}}/wiki/Git操作-Git如何贡献仓库代码">CN&nbsp;|</a>
						<a target="_blank" href="https://github.com/github/docs/blob/main/CONTRIBUTING.md">EN</a></p>
				</div>
			</div>
			<div class="col-xs-4-5 pr-4 mb-8 px-md-6 container-xl mx-auto py-6 py-lg-6 clearfix">
				<h2 class="lead">此文档对您有帮助吗</h2>
				<a href="{{site.githubAccess}}/{{site.githubRepos}}/" target="_blank" class="no-underline">
				<span class="btn mr-1 color-border-accent-emphasis" title="给文档仓库点个赞!">
					<div class="fa fa-thumbs-o-up"></div>
				</span>
				</a>
				<a href="{{site.githubAccess}}/{{site.githubRepos}}/issues/new?labels=Service+Issue,research&template=2-bug_report.yaml&title={{page.path}}&nbsp;{% if page.Researchname %}{{ page.Researchname }} |{% elsif page.title %} {{ page.title }} |{% endif %}{% if include.cattitle %} {{ include.cattitle }} |{% endif %}{% if (page.title || include.cattitle) %}{{" "}}{% endif %}{{ site.title }}{% if site.brand %} | {{ site.brand }}{% endif %}" target="_blank">
				<span class="btn mr-1 color-border-accent-emphasis" title="本文档有问题?">
				<div class="fa fa-thumbs-o-down"></div>
				</span>
				</a>
			</div>
		</section>
</footer>