---
layout: default
title: 哨兵安全博客
permalink: /blog/
---

<script src="/assets/js/btnloadmore.js"></script>

<div class="container mtb">
  <div class="row">
    <div class="col-lg-9">
      <!-- 代码引用申明/code reference declaration:
      article['categories'] show style capture from github.
      source code from:
      - {@link https://github.com/orgs/github-community/discussions/categories/github-education}
      - {@link https://github.githubassets.com/assets/github-4b5f4883df19.css}
      -->
      <div class="lm-contents">
      {% for page in site.categories['blog'] %}
        <div class="py-2">
          <div class="row blog-bar-display">
            <div class="Box-header d-flex flex-justify-between"><!--box header-->
              <a class="my-3 col-7 color-fg-default text-bold mb-1 lh-condensed css-truncate-target d-flex" style="max-width: 100%; font-size: 20px" href="{{ page.url | prepend: site.baseurl }}">《{{ page.title }}》</a>
              <!--article title end-->
              <a class="display-nav-li no-underline d-flex" href="{{site.githubAccess}}/{{site.githubRepos}}/blob/{{site.githubRepos-Branch}}/{{page.path}}" target="_blank">
                <span class="completeness-indicator completeness-indicator-problem">
                   <span class="content-summary-icon scrollbar-20-20"></span>
                </span>
              </a>
              <!--article relation git repos <branch/md files.> end-->
            </div><!--box header stop-->
            <div class="Box-row">
              <a class="d-flex flex-justify-around flex-column overflow-hidden flex-items-stretch" style="z-index: 2;" href="{{ page.url | prepend: site.baseurl }}"></a>
                <div class="discussion-spotlight-details position-relative p-3 pr-5 css-truncate width-fit d-flex flex-column flex-items-start" style="z-index: 3;">
                  <a class="my-3 col-7 color-fg-default text-bold f3 no-underline d-flex flex-items-center mt-2" aria-label="elisemoe (author)">
                  <span class="mr-1">{{ page.excerpt | strip_html | truncate: 80, '...'}}</span></a>
                </div>
            </div>
            <div class="Box-row discussion-spotlight-details position-relative py-2 pr-5 css-truncate width-fit d-flex flex-column flex-items-start" style="z-index: 3;">
              <div class="d-flex nv0 f5 no-underline" style="font-family: 'DM Mono', monospace;">
                  <csmall><div class="d-flex items-center">
                    <a class="author-avatar-small d-flex px-md-6">
                      {% include author_gh_avatars.html %}
                    </a>
                    <!--article author avatar img. end-->
                    <div class="color-fg-success-icon scrollbar-16-16"></div><!--article github action success.site.commitString-->
                    {% assign website_version = site.commitString %}
                    <a class="d-flex color-fg-default px-md-6" href="{{site.githubAccess}}/{{site.githubRepos}}/commit/{{ website_version }}" target="_blank">{{ website_version }}</a>
                    {% include article-YMH-note.html %}
                  </div></csmall>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div><!--/col-lg-9 -->
    <div class="sticky limit-sticky flex flex-column">{% include sentrybar.html %}</div>
  </div><!--/row -->
</div><!--/container -->

<script>
  /**
   *  blog article load more function.
   *  - @printpage func() 代码引用申明/code reference declaration:
   *  - {@link GH repo: https://github.com/nttps/js-loadmore }
   *  - @param lm-contents `assets/js/btnloadmore.js`
   **/
  $(document).ready(function(){
    $('.lm-contents').btnLoadmore({
      showItem : 4,
      whenClickBtn : 2,
      textBtn : '加载更多',
      classBtn : 'btn-primary btn btn-block media'
    });
  });
</script>