---
layout: default
title: 哨兵安全博客
permalink: /blog/
---

<div class="container mtb">
  <div class="row">
    <div class="col-lg-9">
      <!-- 代码引用申明/code reference declaration:
      article['categories'] show style capture from github.
      source code from:
      - {@link https://github.com/orgs/github-community/discussions/categories/github-education}
      - {@link https://github.githubassets.com/assets/github-4b5f4883df19.css}
      -->
      {% for post in site.categories['blog'] %}
      <div class="py-2">
        <div class="row blog-bar-display">
          <div class="Box-header d-flex flex-justify-between"><!--box header-->
            <a class="my-3 col-7 color-fg-default text-bold mb-1 lh-condensed css-truncate-target d-flex" style="max-width: 100%; font-size: 20px" href="{{ post.url | prepend: site.baseurl }}">《{{ post.title }}》</a>
            <!--article title end-->
            <a class="display-nav-li no-underline d-flex" href="{{site.githubAccess}}/{{site.githubRepos}}/blob/{{site.githubRepos-Branch}}/{{post.path}}" target="_blank">
              <span class="completeness-indicator completeness-indicator-problem">
                 <span class="content-summary-icon scrollbar-20-20"></span>
              </span>
            </a>
            <!--article relation git repos <branch/md files.> end-->
          </div><!--box header stop-->
          <div class="Box-row">
            <a class="d-flex flex-justify-around flex-column overflow-hidden flex-items-stretch" style="z-index: 2;" href="{{ post.url | prepend: site.baseurl }}"></a>
              <div class="discussion-spotlight-details position-relative p-3 pr-5 css-truncate width-fit d-flex flex-column flex-items-start" style="z-index: 3;">
                <a class="my-3 col-7 color-fg-default text-bold f3 no-underline d-flex flex-items-center mt-2" aria-label="elisemoe (author)">
                <span class="d-none d-md-inline-block mr-1">{{ post.excerpt | strip_html | truncate: 166, '...'}}</span></a>
              </div>
          </div>
          <div class="Box-row discussion-spotlight-details position-relative py-2 pr-5 css-truncate width-fit d-flex flex-column flex-items-start" style="z-index: 3;">
            <div class="d-flex mb-1 f5 no-underline" >
              <div class="d-inline-block lh-condensed d-flex" style="opacity: 18;">
              {% include article-YMH-note.html %}
              </div>
            </div>         
          </div>
        </div>
      </div>
      {% endfor %}
    </div><!--/col-lg-9 -->
    <div class="sticky limit-sticky flex">{% include sentrybar.html %}</div>
  </div><!--/row -->
</div><!--/container -->
