---
layout: default
title: 置顶文章
permalink: /tops/
---

<div class="container mtb">
  <div class="row">

    <!-- BLOG POSTS LIST -->
    <div class="col-lg-10 col-lg-offset-1" id="events-list">
      {% for top in site.categories['top'] %}
      <!-- Blog Post -->
      <div class="row event" data-event-date="{{top.date | date: "%F"}}">
        <div class="col-lg-9">
          <div class="event-title">
            <a href="{{ top.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ top.title }}</h3></a>
          </div>
          <div class="event-meta">
            <span><strong><i class="fa fa-calendar fa-fw"></i> 时间: </strong>{{top.date | date: "%F"}}{% if top.time %} {{top.time}} {% endif %}</span>
              <!--<span><strong><i class="fa fa-map-marker"></i> 地点:</strong> {{top.place}}</span>-->
              <span class="event-tags">
                {% for tag in top.tags %}
                <span class="label label-success">{{ tag }}</span>
                {% endfor %}
              </span>
            {% if top.video or top.slides or top.youtube or top.audio %}
            <br>
            <span><strong><i class="fa fa-cloud-download-alt fa-fw"></i> 资源链接: </strong></span>
            {% if top.audio %}
            <a data-toggle="tooltip" title="录音下载" class="label label-info" href="{{top.audio}}" target="_blank"><i class="fa fa-headphones-alt fa-fw"></i></a>
            {% endif %}
            {% if top.video %}
            <a data-toggle="tooltip" title="录像下载" class="label label-info" href="{{top.video}}" target="_blank"><i class="fa fa-video fa-fw"></i></a>
            {% endif %}
            {% if top.youtube %}
            <a data-toggle="tooltip" title="YouTube 在线播放" class="label label-info" href="{{top.youtube}}" target="_blank"><i class="fa fa-youtube fa-fw"></i></a>
            {% endif %}
            {% if top.slides %}
            <a data-toggle="tooltip" title="讲稿下载" class="label label-info" href="{{top.slides}}" target="_blank"><i class="fa fa-file-alt fa-fw"></i></a>
            {% endif %}
            {% endif %}
          </div>
          <div class="event-content">
            {{ top.excerpt | strip_html | truncate: 240, '...'}}
          </div>
          <p><a href="{{ top.url | prepend: site.baseurl }}">[Read More]</a></p>
        </div>
        <div class="col-lg-3">
          {% if top.poster %}
          <img class="img-responsive event-poster" height="100%" width="100%" src="{%if top.poster contains 'http:' or top.poster contains 'https:'%}{{top.poster}}{%else%}{{"/assets/img/events/"|prepend: site.baseurl}}{{top.poster}}{%endif%}" />
          {% endif %}
        </div>
      </div>

      <div class="hline"></div>
      <div class="spacing"></div>
      {% endfor %}

    </div><!--/col-lg-8 -->

  </div><!--/row -->
</div><!--/container -->

<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();

  var today = function() {
    var pad = function (number) {
      var r = String(number);
      if ( r.length === 1 ) {
        r = '0' + r;
      }
      return r;
    }

    var _today = new Date();
    return Date.parse(
      _today.getFullYear().toString() + "-"
      + pad(_today.getMonth()+1) + "-"
      + pad(_today.getDate())
    );

  }();

  $('#events-list .event').each(function() {
    console.log($(this).attr("data-event-date"));
    var event_date = Date.parse($(this).attr("data-event-date"));
    if (today < event_date) {
      var label = "<span class='label label-warning'>Upcoming</span>";
      $(this).find(".event-tags").prepend(label);
    }
  });
});
</script>