/*	################################################################
1. GENERAL STRUCTURES
################################################################# */
* {
    margin: 0;
}

body {
    margin: 0;
    color: $color_secondary;
    @include dark{
        color: $color_secondary_dark;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul {
    padding-left: 1em;
}

p {
    margin: 0 0 10px;
    padding: 0;
    margin-bottom: 12px;
    font-size: 16px;
    //font-family: 'DM Mono', STFangsong;
    line-height: 24px;
    color: $color_secondary ;
    margin-top: 10px;
    @include dark{
        color: $color_secondary_dark;
    }
}

/* Code Reference:
* - { @link https://docs.github.com/_next/static/css/31a8bc77d529a7c8cdef.css }
*   - {.markdown-body .img}
*/

.markdown-body-img img {
    max-height: 43rem;
    max-width: 85%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    padding: 1rem 0;
    margin: 1rem auto 0;
    border: none;
    max-width: -moz-calc(100% - 2rem);
    //max-width: calc(100% - 2rem);
}

// *  TODO mark: define default img display while cannot find online image.
//img::before {
//    content: '';
//    position: absolute;
//
//    padding: 1rem 0;
//    width: 64px; height: 64px;
//    background: #f5f5f5 url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M304.128 456.192c48.64 0 88.064-39.424 88.064-88.064s-39.424-88.064-88.064-88.064-88.064 39.424-88.064 88.064 39.424 88.064 88.064 88.064zm0-116.224c15.36 0 28.16 12.288 28.16 28.16s-12.288 28.16-28.16 28.16-28.16-12.288-28.16-28.16 12.288-28.16 28.16-28.16z' fill='%23e6e6e6'/%3E%3Cpath d='M887.296 159.744H136.704C96.768 159.744 64 192 64 232.448v559.104c0 39.936 32.256 72.704 72.704 72.704h198.144L500.224 688.64l-36.352-222.72 162.304-130.56-61.44 143.872 92.672 214.016-105.472 171.008h335.36C927.232 864.256 960 832 960 791.552V232.448c0-39.936-32.256-72.704-72.704-72.704zm-138.752 71.68v.512H857.6c16.384 0 30.208 13.312 30.208 30.208v399.872L673.28 408.064l75.264-176.64zM304.64 792.064H165.888c-16.384 0-30.208-13.312-30.208-30.208v-9.728l138.752-164.352 104.96 124.416-74.752 79.872zm81.92-355.84l37.376 228.864-.512.512-142.848-169.984c-3.072-3.584-9.216-3.584-12.288 0L135.68 652.8V262.144c0-16.384 13.312-30.208 30.208-30.208h474.624L386.56 436.224zm501.248 325.632c0 16.896-13.312 30.208-29.696 30.208H680.96l57.344-93.184-87.552-202.24 7.168-7.68 229.888 272.896z' fill='%23e6e6e6'/%3E%3C/svg%3E") no-repeat center / 50% 50%;
//}
//img::after {
//    content: '404;(';
//    position: absolute;
//    width: 64px;
//    line-height: 2;
//    background-color: rgba(0,0,0,.5);
//    color: white;
//    font-size: 12px;
//    text-align: center;
//    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
//}

.text-semibold {
    font-weight: 500!important;
}

a {
    color:$color_link;
    @include dark{
      color: #ffffff;
    }
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linea, border-color .4s linearr;
    -o-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    transition: background-color .4s linear, color .4s linear, border-color .4s linear;
}

a:hover, a:focus {
    text-decoration: none;
    color:$color_link_hover;
}

ion-icon { 
    @include dark{
    color: #ffffff 
    }
}
ion-icon:hover { 
@include dark{
  color: #82318e; 
  }
}
::-moz-selection  {
    color: #fff;
    text-shadow: none;
    background: #82318e;
    @include dark{
      background: $color_secondary_dark;
    }
}
::selection {
    color: #fff;
    text-shadow: none;
    background: #82318e;
    @include dark{
      background: white;
      color: $color_secondary;
    }
}

.centered {
    text-align: center
}
