/*	################################################################
1. GENERAL STRUCTURES
################################################################# */
* {
    margin: 0;
}

body {
    margin: 0;
    color: $color_secondary;
    @include dark{
        color: $color_secondary_dark;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul {
    padding-left: 1em;
}

p {
    margin: 0 0 10px;
    padding: 0;
    margin-bottom: 12px;
    font-size: 16px;
    //font-family: 'DM Mono', STFangsong;
    line-height: 24px;
    color: $color_secondary ;
    margin-top: 10px;
    @include dark{
        color: $color_secondary_dark;
    }
}

/* Code Reference:
* - { @link https://docs.github.com/_next/static/css/31a8bc77d529a7c8cdef.css }
*   - {.markdown-body .img}
*/

.markdown-body-img img {
    max-height: 49rem;
    padding: 0;
    max-width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    padding: 1rem 0;
    margin: 1rem auto 0;
    border: none;
    max-width: -moz-calc(100% - 2rem);
    max-width: calc(100% - 2rem);
}

.text-semibold {
    font-weight: 500!important;
}

a {
    color:$color_link;
    @include dark{
      color: #ffffff;
    }
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linea, border-color .4s linearr;
    -o-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    transition: background-color .4s linear, color .4s linear, border-color .4s linear;
}
/*
*  TODO mark:
*  扩大点击生效区域
*  visit https://www.atjiang.com/css-extending-clickable-area/
*/
a:hover, a:focus {
    text-decoration: none;
    color:$color_link_hover;
}

ion-icon { 
    @include dark{
    color: #ffffff 
    }
}
ion-icon:hover { 
@include dark{
  color: #82318e; 
  }
}
::-moz-selection  {
    color: #fff;
    text-shadow: none;
    background: #82318e;
    @include dark{
      background: $color_secondary_dark;
    }
}
::selection {
    color: #fff;
    text-shadow: none;
    background: #82318e;
    @include dark{
      background: white;
      color: $color_secondary;
    }
}

.centered {
    text-align: center
}
