@mixin dark {
    @content
}


.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*filter: grayscale(100%);*/
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: 1.16rem;
    color: #7a7a8c;
    text-transform: uppercase;
    /*font-size: .66rem;*/
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}


/*
card css style end

start: banner css style.
*/


devsite-header .devsite-doc-set-nav-row {
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center;
border-bottom: var(--devsite-header-lower-tabs-border-bottom,none);
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-moz-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
min-height: 0.1px;
padding: 0 24px 0 0;
}

body, html {
-moz-osx-font-smoothing: grayscale;
margin: 0;
}

:root {
--devsite-elevation-key-shadow-color: rgba(60,64,67,0.3);
--devsite-elevation-ambient-shadow-color: rgba(60,64,67,0.15);

--dark-devsite-elevation-key-shadow-color: rgba(0, 0, 0,0);
--dark-devsite-elevation-ambient-shadow-color: rgba(0, 0, 0,0.3);
}
.cloud-full-bleed, .cloud-full-bleed--bg, .cloud-full-bleed--constrained, .cws-fullbleed {
margin-left: calc(50% - 50vw);
margin-right: calc(50% - 50vw);
}

.cws-fullbleed {
margin: 0 auto;
}
.cws-banner .cws-banner__body-copy {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
font-family: Google Sans,Roboto,Arial,sans-serif;
overflow-wrap: normal;
word-wrap: normal;
font-size: 16px;
font-weight: 500;
letter-spacing: normal;
line-height: 24px;
margin: 0;
}

/*
* source from: https://xn--7gqr3hs9ecxao51c822e.cn/blog/
* visit https://xn--7gqr3hs9ecxao51c822e.cn/assets/css/styles.cd7f4eb4.css
*
*/
.navbar-hide{
    display: none;
}

.tableOfContents_35-E {
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky
}

.sidebar_2ahu,.tableOfContents_35-E {
    max-height: calc(100vh - var(--ifm-navbar-height) - 2rem);
    top: calc(var(--ifm-navbar-height) + 2rem)
}

@media only screen and (max-width: 768px) {
    .sidebar_2ahu,.tableOfContents_35-E {
        display:none
    }

    .docItemContainer_33ec,.docItemContainer_gpai {
        padding: 0 .3rem
    }
}


.thin-scrollbar::-webkit-scrollbar {
    height: var(--ifm-scrollbar-size);
    width: var(--ifm-scrollbar-size)
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: var(--ifm-scrollbar-track-background-color);
    border-radius: 10px
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background: var(--ifm-scrollbar-thumb-background-color);
    border-radius: 10px
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--ifm-scrollbar-thumb-hover-background-color)
}

html[data-theme=dark] {
    --ifm-color-emphasis-0: var(--ifm-color-gray-1000);
    --ifm-color-emphasis-100: var(--ifm-color-gray-900);
    --ifm-color-emphasis-200: var(--ifm-color-gray-800);
    --ifm-color-emphasis-300: var(--ifm-color-gray-700);
    --ifm-color-emphasis-400: var(--ifm-color-gray-600);
    --ifm-color-emphasis-600: var(--ifm-color-gray-400);
    --ifm-color-emphasis-700: var(--ifm-color-gray-300);
    --ifm-color-emphasis-800: var(--ifm-color-gray-200);
    --ifm-color-emphasis-900: var(--ifm-color-gray-100);
    --ifm-color-emphasis-1000: var(--ifm-color-gray-0);
    --ifm-background-color: #18191a;
    --ifm-background-surface-color: #242526;
    --ifm-hover-overlay: hsla(0,0%,100%,0.05);
    --ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%) contrast(98%);
    --ifm-color-content-secondary: #fff;
    --ifm-breadcrumb-separator-filter: invert(64%) sepia(11%) saturate(0%) hue-rotate(149deg) brightness(99%) contrast(95%);
    --ifm-code-background: #333437
}

.table-of-contents {
    font-size: .8rem;
    margin-bottom: 0;
    padding: var(--ifm-toc-padding-vertical) 0
}

.table-of-contents,.table-of-contents ul {
    list-style-type: none;
    padding-left: var(--ifm-toc-padding-horizontal)
}

.table-of-contents li {
    margin: var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal)
}

.table-of-contents__left-border {
    border-left: 1.5px solid var(--ifm-toc-border-color)
}

.table-of-contents__link {
    color: var(--ifm-toc-link-color)
}

.table-of-contents__link--active,.table-of-contents__link--active code,.table-of-contents__link:hover,.table-of-contents__link:hover code {
    color: var(--ifm-color-primary);
    text-decoration: none
}

a:hover {
    text-decoration: var(--ifm-link-hover-decoration)
}

.markdown li>p {
    margin-top: var(--ifm-list-paragraph-margin)
}

.markdown li+li {
    margin-top: var(--ifm-list-item-margin)
}

ol,ul {
    margin: 0 0 var(--ifm-list-margin);
    padding-left: var(--ifm-list-left-padding)
}

ol ol,ul ol {
    list-style-type: lower-roman
}

.avatar__name,ol ol,ol ul,ul ol,ul ul {
    margin: 0
}

ol ol ol,ol ul ol,ul ol ol,ul ul ol {
    list-style-type: lower-alpha
}

body {
    margin: 0;
    transition: var(--ifm-transition-fast) ease color
}

:root {
    --ra-admonition-background-color: var(--ifm-alert-background-color);
    --ra-admonition-border-width: var(--ifm-alert-border-width);
    --ra-admonition-border-color: var(--ifm-alert-border-color);
    --ra-admonition-border-radius: var(--ifm-alert-border-radius);
    --ra-admonition-color: var(--ifm-alert-color);
    --ra-admonition-padding-vertical: var(--ifm-alert-padding-vertical);
    --ra-admonition-padding-horizontal: var(--ifm-alert-padding-horizontal);
    --ra-color-note: var(--ifm-color-secondary);
    --ra-color-important: var(--ifm-color-info);
    --ra-color-tip: var(--ifm-color-success);
    --ra-color-caution: var(--ifm-color-warning);
    --ra-color-warning: var(--ifm-color-danger);
    --ra-color-text-dark: var(--ifm-color-gray-900);
    --ifm-dark-value: 10%;
    --ifm-darker-value: 15%;
    --ifm-darkest-value: 30%;
    --ifm-light-value: 15%;
    --ifm-lighter-value: 30%;
    --ifm-lightest-value: 50%;
    --ifm-color-primary: #3578e5;
    --ifm-color-primary-dark: #306cce;
    --ifm-color-primary-darker: #2d66c3;
    --ifm-color-primary-darkest: #2554a0;
    --ifm-color-primary-light: #538ce9;
    --ifm-color-primary-lighter: #72a1ed;
    --ifm-color-primary-lightest: #9abcf2;
    --ifm-color-secondary: #ebedf0;
    --ifm-color-secondary-dark: #d4d5d8;
    --ifm-color-secondary-darker: #c8c9cc;
    --ifm-color-secondary-darkest: #a4a6a8;
    --ifm-color-secondary-light: #eef0f2;
    --ifm-color-secondary-lighter: #f1f2f5;
    --ifm-color-secondary-lightest: #f5f6f8;
    --ifm-color-success: #00a400;
    --ifm-color-success-dark: #009400;
    --ifm-color-success-darker: #008b00;
    --ifm-color-success-darkest: #007300;
    --ifm-color-success-light: #26b226;
    --ifm-color-success-lighter: #4dbf4d;
    --ifm-color-success-lightest: #80d280;
    --ifm-color-info: #54c7ec;
    --ifm-color-info-dark: #4cb3d4;
    --ifm-color-info-darker: #47a9c9;
    --ifm-color-info-darkest: #3b8ba5;
    --ifm-color-info-light: #6ecfef;
    --ifm-color-info-lighter: #87d8f2;
    --ifm-color-info-lightest: #aae3f6;
    --ifm-color-warning: #ffba00;
    --ifm-color-warning-dark: #e6a700;
    --ifm-color-warning-darker: #d99e00;
    --ifm-color-warning-darkest: #b38200;
    --ifm-color-warning-light: #ffc426;
    --ifm-color-warning-lighter: #ffcf4d;
    --ifm-color-warning-lightest: #ffdd80;
    --ifm-color-danger: #fa383e;
    --ifm-color-danger-dark: #e13238;
    --ifm-color-danger-darker: #d53035;
    --ifm-color-danger-darkest: #af272b;
    --ifm-color-danger-light: #fb565b;
    --ifm-color-danger-lighter: #fb7478;
    --ifm-color-danger-lightest: #fd9c9f;
    --ifm-color-white: #fff;
    --ifm-color-black: #000;
    --ifm-color-gray-0: var(--ifm-color-white);
    --ifm-color-gray-100: #f5f6f7;
    --ifm-color-gray-200: #ebedf0;
    --ifm-color-gray-300: #dadde1;
    --ifm-color-gray-400: #ccd0d5;
    --ifm-color-gray-500: #bec3c9;
    --ifm-color-gray-600: #8d949e;
    --ifm-color-gray-700: #606770;
    --ifm-color-gray-800: #444950;
    --ifm-color-gray-900: #1c1e21;
    --ifm-color-gray-1000: var(--ifm-color-black);
    --ifm-color-emphasis-0: var(--ifm-color-gray-0);
    --ifm-color-emphasis-100: var(--ifm-color-gray-100);
    --ifm-color-emphasis-200: var(--ifm-color-gray-200);
    --ifm-color-emphasis-300: var(--ifm-color-gray-300);
    --ifm-color-emphasis-400: var(--ifm-color-gray-400);
    --ifm-color-emphasis-600: var(--ifm-color-gray-600);
    --ifm-color-emphasis-700: var(--ifm-color-gray-700);
    --ifm-color-emphasis-800: var(--ifm-color-gray-800);
    --ifm-color-emphasis-900: var(--ifm-color-gray-900);
    --ifm-color-emphasis-1000: var(--ifm-color-gray-1000);
    --ifm-color-content: var(--ifm-color-emphasis-900);
    --ifm-color-content-inverse: var(--ifm-color-emphasis-0);
    --ifm-color-content-secondary: #606770;
    --ifm-background-color: transparent;
    --ifm-background-surface-color: var(--ifm-color-content-inverse);
    --ifm-global-border-width: 1px;
    --ifm-global-radius: 0.4rem;
    --ifm-hover-overlay: rgba(0,0,0,0.05);
    --ifm-font-color-base: var(--ifm-color-content);
    --ifm-font-color-base-inverse: var(--ifm-color-content-inverse);
    --ifm-font-color-secondary: var(--ifm-color-content-secondary);
    --ifm-font-family-base: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --ifm-font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --ifm-font-size-base: 100%;
    --ifm-font-weight-light: 300;
    --ifm-font-weight-normal: 400;
    --ifm-font-weight-semibold: 500;
    --ifm-font-weight-bold: 700;
    --ifm-font-weight-base: var(--ifm-font-weight-normal);
    --ifm-line-height-base: 1.65;
    --ifm-global-spacing: 1rem;
    --ifm-spacing-vertical: var(--ifm-global-spacing);
    --ifm-spacing-horizontal: var(--ifm-global-spacing);
    --ifm-transition-fast: 200ms;
    --ifm-transition-slow: 400ms;
    --ifm-transition-timing-default: cubic-bezier(0.08,0.52,0.52,1);
    --ifm-global-shadow-lw: 0 1px 2px 0 rgba(0,0,0,0.1);
    --ifm-global-shadow-md: 0 5px 40px rgba(0,0,0,0.2);
    --ifm-global-shadow-tl: 0 12px 28px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.1);
    --ifm-z-index-dropdown: 2;
    --ifm-z-index-fixed: 3;
    --ifm-z-index-overlay: 4;
    --ifm-container-width: 1140px;
    --ifm-container-width-xl: 1320px;
    --ifm-code-background: #f6f7f8;
    --ifm-code-border-radius: var(--ifm-global-radius);
    --ifm-code-color: var(--ifm-color-emphasis-900);
    --ifm-code-font-size: 90%;
    --ifm-code-padding-horizontal: 0.3rem;
    --ifm-code-padding-vertical: 0.1rem;
    --ifm-pre-background: var(--ifm-color-emphasis-100);
    --ifm-pre-border-radius: var(--ifm-code-border-radius);
    --ifm-pre-color: inherit;
    --ifm-pre-line-height: 1.45;
    --ifm-pre-padding: 1rem;
    --ifm-heading-color: inherit;
    --ifm-heading-margin-top: 0;
    --ifm-heading-margin-bottom: var(--ifm-spacing-vertical);
    --ifm-heading-font-family: inherit;
    --ifm-heading-font-weight: var(--ifm-font-weight-bold);
    --ifm-heading-line-height: 1.25;
    --ifm-h1-font-size: 2rem;
    --ifm-h2-font-size: 1.5rem;
    --ifm-h3-font-size: 1.25rem;
    --ifm-h4-font-size: 1rem;
    --ifm-h5-font-size: 0.875rem;
    --ifm-h6-font-size: 0.85rem;
    --ifm-image-alignment-padding: 1.25rem;
    --ifm-leading-desktop: 1.25;
    --ifm-leading: calc(var(--ifm-leading-desktop)*1rem);
    --ifm-list-left-padding: 2rem;
    --ifm-list-margin: 1rem;
    --ifm-list-item-margin: 0.25rem;
    --ifm-list-paragraph-margin: 1rem;
    --ifm-table-cell-padding: 0.75rem;
    --ifm-table-background: transparent;
    --ifm-table-stripe-background: var(--ifm-color-emphasis-100);
    --ifm-table-border-width: 1px;
    --ifm-table-border-color: var(--ifm-color-emphasis-300);
    --ifm-table-head-background: inherit;
    --ifm-table-head-color: inherit;
    --ifm-table-head-font-weight: var(--ifm-font-weight-bold);
    --ifm-table-cell-color: inherit;
    --ifm-link-color: var(--ifm-color-primary);
    --ifm-link-decoration: none;
    --ifm-link-hover-color: var(--ifm-link-color);
    --ifm-link-hover-decoration: underline;
    --ifm-paragraph-margin-bottom: var(--ifm-leading);
    --ifm-blockquote-color: #6a737d;
    --ifm-blockquote-font-size: var(--ifm-font-size-base);
    --ifm-blockquote-padding-horizontal: 1rem;
    --ifm-blockquote-padding-vertical: 1rem;
    --ifm-hr-border-color: var(--ifm-color-emphasis-500);
    --ifm-hr-border-width: 1px;
    --ifm-hr-margin-vertical: 1.5rem;
    --ifm-alert-background-color: inherit;
    --ifm-alert-border-color: inherit;
    --ifm-alert-border-radius: var(--ifm-global-radius);
    --ifm-alert-border-width: var(--ifm-global-border-width);
    --ifm-alert-color: var(--ifm-font-color-base-inverse);
    --ifm-alert-padding-horizontal: var(--ifm-spacing-horizontal);
    --ifm-alert-padding-vertical: var(--ifm-spacing-vertical);
    --ifm-avatar-intro-margin: 1rem;
    --ifm-avatar-intro-alignment: inherit;
    --ifm-avatar-photo-size-sm: 2rem;
    --ifm-avatar-photo-size-md: 3rem;
    --ifm-avatar-photo-size-lg: 4rem;
    --ifm-avatar-photo-size-xl: 6rem;
    --ifm-badge-background-color: inherit;
    --ifm-badge-border-color: inherit;
    --ifm-badge-border-radius: var(--ifm-global-radius);
    --ifm-badge-border-width: var(--ifm-global-border-width);
    --ifm-badge-color: var(--ifm-color-white);
    --ifm-badge-padding-horizontal: calc(var(--ifm-spacing-horizontal)*0.5);
    --ifm-badge-padding-vertical: calc(var(--ifm-spacing-vertical)*0.25);
    --ifm-breadcrumb-border-radius: 1.5rem;
    --ifm-breadcrumb-spacing: 0.0625rem;
    --ifm-breadcrumb-color-active: var(--ifm-color-primary);
    --ifm-breadcrumb-item-background-active: var(--ifm-hover-overlay);
    --ifm-breadcrumb-padding-horizontal: 1rem;
    --ifm-breadcrumb-padding-vertical: 0.5rem;
    --ifm-breadcrumb-size-multiplier: 1;
    --ifm-breadcrumb-separator: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 256 256"><g><g><polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
    --ifm-breadcrumb-separator-filter: none;
    --ifm-breadcrumb-separator-size: 0.5rem;
    --ifm-breadcrumb-separator-size-multiplier: 1.25;
    --ifm-button-background-color: inherit;
    --ifm-button-border-color: var(--ifm-button-background-color);
    --ifm-button-border-width: var(--ifm-global-border-width);
    --ifm-button-font-weight: var(--ifm-font-weight-bold);
    --ifm-button-padding-horizontal: 1.5rem;
    --ifm-button-padding-vertical: 0.375rem;
    --ifm-button-size-multiplier: 1;
    --ifm-button-transition-duration: var(--ifm-transition-fast);
    --ifm-button-border-radius: calc(var(--ifm-global-radius)*var(--ifm-button-size-multiplier));
    --ifm-button-group-margin: 2px;
    --ifm-card-background-color: var(--ifm-background-surface-color);
    --ifm-card-border-radius: calc(var(--ifm-global-radius)*2);
    --ifm-card-horizontal-spacing: var(--ifm-global-spacing);
    --ifm-card-vertical-spacing: var(--ifm-global-spacing);
    --ifm-toc-border-color: var(--ifm-color-emphasis-300);
    --ifm-toc-link-color: var(--ifm-color-content-secondary);
    --ifm-toc-padding-vertical: 0.5rem;
    --ifm-toc-padding-horizontal: 0.5rem;
    --ifm-dropdown-background-color: var(--ifm-background-surface-color);
    --ifm-dropdown-font-weight: var(--ifm-font-weight-semibold);
    --ifm-dropdown-link-color: var(--ifm-font-color-base);
    --ifm-dropdown-hover-background-color: var(--ifm-hover-overlay);
    --ifm-footer-background-color: var(--ifm-color-emphasis-100);
    --ifm-footer-color: inherit;
    --ifm-footer-link-color: var(--ifm-color-emphasis-700);
    --ifm-footer-link-hover-color: var(--ifm-color-primary);
    --ifm-footer-link-horizontal-spacing: 0.5rem;
    --ifm-footer-padding-horizontal: calc(var(--ifm-spacing-horizontal)*2);
    --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical)*2);
    --ifm-footer-title-color: inherit;
    --ifm-hero-background-color: var(--ifm-background-surface-color);
    --ifm-hero-text-color: var(--ifm-color-emphasis-800);
    --ifm-menu-color: var(--ifm-color-emphasis-700);
    --ifm-menu-color-active: var(--ifm-color-primary);
    --ifm-menu-color-background-active: var(--ifm-hover-overlay);
    --ifm-menu-color-background-hover: var(--ifm-hover-overlay);
    --ifm-menu-link-padding-horizontal: 1rem;
    --ifm-menu-link-padding-vertical: 0.375rem;
    --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
    --ifm-menu-link-sublist-icon-filter: none;
    --ifm-navbar-background-color: var(--ifm-background-surface-color);
    --ifm-navbar-height: 3.75rem;
    --ifm-navbar-item-padding-horizontal: 1rem;
    --ifm-navbar-item-padding-vertical: 0.25rem;
    --ifm-navbar-link-color: var(--ifm-font-color-base);
    --ifm-navbar-link-active-color: var(--ifm-link-color);
    --ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
    --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical)*0.5);
    --ifm-navbar-shadow: var(--ifm-global-shadow-lw);
    --ifm-navbar-search-input-background-color: var(--ifm-color-emphasis-200);
    --ifm-navbar-search-input-color: var(--ifm-color-emphasis-800);
    --ifm-navbar-search-input-placeholder-color: var(--ifm-color-emphasis-500);
    --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
    --ifm-navbar-sidebar-width: 80vw;
    --ifm-pagination-border-radius: calc(var(--ifm-global-radius)*var(--ifm-pagination-size-multiplier));
    --ifm-pagination-color-active: var(--ifm-color-primary);
    --ifm-pagination-font-size: 1rem;
    --ifm-pagination-item-active-background: var(--ifm-hover-overlay);
    --ifm-pagination-page-spacing: 0.0625rem;
    --ifm-pagination-padding-horizontal: calc(var(--ifm-spacing-horizontal)*1);
    --ifm-pagination-padding-vertical: calc(var(--ifm-spacing-vertical)*0.25);
    --ifm-pagination-size-multiplier: 1;
    --ifm-pagination-nav-border-radius: var(--ifm-global-radius);
    --ifm-pagination-nav-color-hover: var(--ifm-color-primary);
    --ifm-pills-color-active: var(--ifm-color-primary);
    --ifm-pills-color-background-active: var(--ifm-hover-overlay);
    --ifm-pills-spacing: 0.0625rem;
    --ifm-tabs-color: var(--ifm-font-color-secondary);
    --ifm-tabs-color-active: var(--ifm-color-primary);
    --ifm-tabs-padding-horizontal: 1rem;
    --ifm-tabs-padding-vertical: 1rem;
    --ifm-tabs-spacing: 0.0625rem;
    --ifm-scrollbar-size: 7px;
    --ifm-scrollbar-track-background-color: #f1f1f1;
    --ifm-scrollbar-thumb-background-color: #888;
    --ifm-scrollbar-thumb-hover-background-color: #555;
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #46cbae;
    --ifm-color-primary-lighter: #66d4bd;
    --ifm-color-primary-lightest: #92e0d0;
    --ifm-code-font-size: 95%;
    --docusaurus-announcement-bar-height: auto;
    --collapse-button-bg-color-dark: #2e333a;
    --doc-sidebar-width: 300px
}