{% assign author = site.data.writer[page.author] %}
{% assign edited = site.data.writer['Bin4xin'] %}
{% assign org = site.data.writer['sentryCyberSec'] %}
<div style="display: flex">
    <!--<span class="_rs-text-2_1owszn1_1 _rs-typography_theme_dark_1owszn1_1 _rs-text_hardness_hard_1owszn1_1 main-header-coding-agents__tag">Attention</span>-->
    <div class="border-grid-container" style="line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">
    <!-- 两列布局：Sponsor 区块 | Contributors 区块 从左到右排列 --><br>
        <div class="border-grid-row">
            <div class="border-grid-cell">
                <h3 class="h4 tmp-mb-3" style="color: #FFFFFF">侵权？</h3>
                <ul class="list-style-none">
                    <li class="mb-2 d-flex">
                        <a data-hovercard-type="user" href="https://github.com/{{ author.display_name }}" target="_blank" rel="noopener noreferrer" class="mr-2">
                            <img class="avatar d-block mr-2 avatar-user" src="https://avatars.githubusercontent.com/u/{{ author.gh_avatars }}?s=64&v=4" width="32" height="32" alt="@{{ author.display_name }}">
                        </a>
                        <span class="mr-2 flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">
                            <a class="Link--primary no-underline" href="https://github.com/{{ author.display_name }}" target="_blank" rel="noopener">
                                <strong>{{ author.display_name }}</strong>
                                <span class="color-fg-muted">{{ author.display_name }}</span>
                            </a>
                        </span>
                        <a href="{{site.githubAccess}}/{{site.githubRepos}}/issues/new?labels=acticle+rights+feedback&template=2-bug_report.yaml&title={{page.path}}侵权反馈/feedback" target="_blank" rel="noopener noreferrer" class="Button--secondary Button--small Button d-flex flex-items-center">
                            <span class="Button-content">
                                <span class="Button-label">反馈侵权
                                    <svg aria-hidden="true" focusable="false" role="img" class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;"><path fill-rule="evenodd" d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z"></path></svg>
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="list-style-none">
                    <li class="mb-2 d-flex">
                        <span class="mr-2 d-flex flex-items-center flex-justify-center platform-icon">
                            <img width="32" height="32" class="avatar d-block mr-2 avatar-user" src="https://avatars.githubusercontent.com/u/{{ org.gh_avatars }}?s=64&v=4" alt="{{ org.gh_avatars }}">
                        </span>
                        <span class="flex-self-center flex-auto min-width-0 css-truncate-feedback css-truncate-feedback-target width-fit">
                            <a target="_blank" rel="noopener noreferrer" href="https://opencollective.com/tabby">
                                <span><strong>{{ org.display_name }}</strong></span>
                            </a>
                        </span>
                    </li>
                    <li class="mb-2 d-flex">
                        <span class="mr-2 d-flex flex-items-center flex-justify-center platform-icon">
                            <img width="32" height="32" class="avatar d-block mr-2 avatar-user" alt="ko_fi" src="https://avatars.githubusercontent.com/u/{{ edited.gh_avatars }}?s=64&v=4">
                        </span>
                        <span class="flex-self-center flex-auto min-width-0 css-truncate-feedback css-truncate-feedback-target width-fit">
                            <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{ edited.display_name }}">
                                <span>github.com/<strong>{{ edited.display_name }}</strong></span>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="border-grid-cell">
                <h2 class="h4 tmp-mb-3">
                    <a href="{{site.githubAccess}}/{{site.githubRepos}}/tree/{{site.githubRepos-Branch}}/{{page.path}}" target="_blank" rel="noopener noreferrer" class="Link--primary no-underline Link d-flex flex-items-center">
                        Contributors
                        {% for tag in page.tags %}
                        <span class="Counter ml-1">{{ tag }}</span>
                        {% endfor %}
                    </a>
                </h2>

                <div class="contributors-avatar-list">
                    <a href="https://github.com/{{ author.gh_avatars }}" target="_blank" rel="noopener">
                        <img src="https://avatars.githubusercontent.com/u/{{ author.gh_avatars }}?s=64&v=4" alt="{{ author.display_name }}">
                    </a>
                    <a href="https://github.com/{{ edited.display_name }}" target="_blank" rel="noopener">
                        <img src="https://avatars.githubusercontent.com/u/{{ edited.gh_avatars }}?s=64&v=4" alt="{{ edited.display_name }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
<!-- 预留位置-->
<!--    <div class="border-grid-container" style="line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">-->
<!--        &lt;!&ndash; 两列布局：Sponsor 区块 | Contributors 区块 从左到右排列 &ndash;&gt;<br>-->
<!--        <div class="border-grid-row">-->
<!--            <div class="border-grid-cell">-->
<!--                <h3 class="h4 tmp-mb-3" style="color: #FFFFFF">侵权？</h3>-->
<!--                <ul class="list-style-none">-->
<!--                    <li class="mb-2 d-flex">-->
<!--                        <a data-hovercard-type="user" href="https://github.com/{{ author.display_name }}" target="_blank" rel="noopener noreferrer" class="mr-2">-->
<!--                            <img class="avatar d-block mr-2 avatar-user" src="https://avatars.githubusercontent.com/u/{{ author.gh_avatars }}?s=64&v=4" width="32" height="32" alt="@{{ author.display_name }}">-->
<!--                        </a>-->
<!--                        <span class="mr-2 flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">-->
<!--                            <a class="Link&#45;&#45;primary no-underline" href="https://github.com/{{ author.display_name }}" target="_blank" rel="noopener">-->
<!--                                <strong>{{ author.display_name }}</strong>-->
<!--                                <span class="color-fg-muted">{{ author.display_name }}</span>-->
<!--                            </a>-->
<!--                        </span>-->
<!--                        <a href="{{site.githubAccess}}/{{site.githubRepos}}/issues/new?labels=acticle+rights+feedback&template=2-bug_report.yaml&title={{page.path}}侵权反馈/feedback" target="_blank" rel="noopener noreferrer" class="Button&#45;&#45;secondary Button&#45;&#45;small Button d-flex flex-items-center">-->
<!--                            <span class="Button-content">-->
<!--                                <span class="Button-label">反馈侵权-->
<!--                                    <svg aria-hidden="true" focusable="false" role="img" class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;"><path fill-rule="evenodd" d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z"></path></svg>-->
<!--                                </span>-->
<!--                            </span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->

<!--                <ul class="list-style-none">-->
<!--                    <li class="mb-2 d-flex">-->
<!--                        <span class="mr-2 d-flex flex-items-center flex-justify-center platform-icon">-->
<!--                            <img width="32" height="32" class="avatar d-block mr-2 avatar-user" src="https://avatars.githubusercontent.com/u/{{ org.gh_avatars }}?s=64&v=4">-->
<!--                        </span>-->
<!--                        <span class="flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">-->
<!--                            <a target="_blank" rel="noopener noreferrer" href="https://opencollective.com/tabby">-->
<!--                                <span><strong>{{ org.display_name }}</strong></span>-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    </li>-->
<!--                    <li class="mb-2 d-flex">-->
<!--                        <span class="mr-2 d-flex flex-items-center flex-justify-center platform-icon">-->
<!--                            <img width="32" height="32" class="avatar d-block mr-2 avatar-user" alt="ko_fi" src="https://avatars.githubusercontent.com/u/{{ edited.gh_avatars }}?s=64&v=4">-->
<!--                        </span>-->
<!--                        <span class="flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">-->
<!--                            <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{ edited.display_name }}">-->
<!--                                <span>github.com/<strong>{{ edited.display_name }}</strong></span>-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->

<!--            <div class="border-grid-cell">-->
<!--                <h2 class="h4 tmp-mb-3">-->
<!--                    <a href="{{site.githubAccess}}/{{site.githubRepos}}/tree/{{site.githubRepos-Branch}}/{{page.path}}" target="_blank" rel="noopener noreferrer" class="Link&#45;&#45;primary no-underline Link d-flex flex-items-center">-->
<!--                        Contributors-->
<!--                        {% for tag in page.tags %}-->
<!--                        <span class="Counter ml-1">{{ tag }}</span>-->
<!--                        {% endfor %}-->
<!--                    </a>-->
<!--                </h2>-->

<!--                <div class="contributors-avatar-list">-->
<!--                    <a href="https://github.com/{{ author.gh_avatars }}" target="_blank" rel="noopener">-->
<!--                        <img src="https://avatars.githubusercontent.com/u/{{ author.gh_avatars }}?s=64&v=4" alt="{{ author.display_name }}">-->
<!--                    </a>-->
<!--                    <a href="https://github.com/{{ edited.display_name }}" target="_blank" rel="noopener">-->
<!--                        <img src="https://avatars.githubusercontent.com/u/{{ edited.gh_avatars }}?s=64&v=4" alt="{{ edited.display_name }}">-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>