<!DOCTYPE html>
<html lang="zh-CN"><style></style>
<style>

</style>
{% include head.html %}
    <body>
    {% include nav.html %}
        <startprint2pdfs>
            <div id="research-content" class="col-sm-bb">
                {{ content }}
            </div>
        </startprint2pdfs>
    {% include components/lightbox.html %}
    </body>
    </body>
{% include default-add-func.html %}
</html>

<script>
jQuery(function($) {
    var rules = {
        whitelist: [
            location.hostname,
            'githubusercontent.com'
        ],
        specialIcons: {
            // 'github.io': 'fa-github',
            'github.com': 'fa-github'
        }
    };

    function isDomainMatch(host, targetDomain) {
        return host === targetDomain || host.endsWith('.' + targetDomain);
    }

    $('p a, ul li a, ol li p a')
    .filter(function() {
        return this.hostname && !this.href.startsWith('javascript:');
    })
    .each(function() {
        var host = this.hostname;

        var specialIconClass = null;
        for (var domain in rules.specialIcons) {
            if (isDomainMatch(host, domain)) {
                specialIconClass = rules.specialIcons[domain];
                break;
            }
        }

        if (specialIconClass) {
            $(this).append(' <i class="fa ' + specialIconClass + '"></i>');
            return;
        }

        var isWhitelisted = rules.whitelist.some(function(domain) {
            return isDomainMatch(host, domain);
        });

        if (!isWhitelisted) {
            $(this).append(' <i class="fa fa-external-link-alt"></i>');
        }
    });
});
</script>