---
layout: about-default
---

<link rel="stylesheet" type="text/css" href="/assets/css/card.css">
<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">

{% if page.redirect_Research_name %}
{% assign redirect_to_page = site.categories["about"] | where_exp:"p", "p.Researchname == page.redirect_help_id" %}
<script>
	var redirect_to = window.location.protocol + "//" + window.location.host + "{{redirect_to_page[0].url}}";
	window.location = redirect_to;
</script>
{% endif %}

<script>
	window.Researchname = "{{page.Researchname}}";
</script>

{% assign posts_about_desc = site.categories["about"] | sort: 'date' | group_by_exp:"post", "post.desc" |reverse %}
{% assign posts_about = site.categories["about"] | sort: 'date' %}

<div id="help-page">
		<div class="row print-overflow-visible">
			<div class="col-sm-3 ml-hide area-scroll" style="height:100vh"><!--width:326px; left area: menu 左边菜单栏-->
				<div tabindex="-1" class="d-flex flex-items-center p-4 position-sticky top-0 color-bg-default" style="z-index:3" id="github-logo">
					<a class="navbar-brand back-to-top" href="{{site.githubIO}}" target="blank">
						{% include pic.html name="logo-small" %}
						{% if site.harmony %}{{ site.harmony }}
						{% else %}
						{{ site.title }}
						{% endif %}
					</a>
				</div>
				<ul class="nav nav-pills nav-stacked" id="help-nav">
					{% for descs in posts_about_desc %}

					{%comment%}{% if descs.Researchname == page.Researchname %} class="active"{%endif%} id="toc-{{descs.name}}"{%endcomment%}

					<li>
					<a class="pointer"><strong>{{descs.name | replace: "「", "" | replace: "」", ""| upcase}}</strong></a>
					</li>
					<!--TODO:尝试对desc进行展开闭合
					<li>
					<button class="dib dib-ns dib-m dn-l bn bg-transparent rotate-270">
					<svg width="16" height="16" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.96 58.0141L17.132 55.1861L40.318 32.0001L17.132 8.81408L19.96 5.98608L45.975 32.0001L19.96 58.0141Z" fill="#FFF"></path></svg>
					</button>-->
					{% for post in descs.items %}
					<ul class="nav nav-pills nav-stacked">
					<li id="toc-{{post.Researchname}}" class="table-of-contents table-of-contents__left-border {% if post.Researchname == page.Researchname or post.redirect_help_id == page.Researchname %} active{%endif%}">
					<a href="{{ post.url }}">{{ forloop.index| roman }}. {{ post.Researchname | upcase}} </a>
					</li>
					</ul>
					{% endfor %}
				{% endfor %}
				</ul>
			</div><!-- sidenave 左边菜单栏结束-->

			<div class="col-sm-6">
				<div class="visible-xs"><!--响应式::菜单::表单-->
					<form class="form-inline">
						<div class="form-group">
							<label>选择: </label>
							<select class="form-control" id="help-select">
								{% for RP in posts_about %}
								<option data-help-url="{{RP.url}}"{% if RP.Researchname == page.Researchname%} selected{%endif%} id="toc-{{RP.Researchname}}">{{RP.Researchname}}</option>
								{% endfor %}
							</select>
						</div>
					</form>
				</div><!--响应式::菜单::表单 end-->
				<div id="help-content" class="area-scroll" style="height:100vh"><!--page content-->
					<br>
					<center>
						{% if page.wrench %}
						<csmall>本文发布于：<em>{{ page.date | date: "%Y-%m-%d" }}</em>并最后修改于：<em>{{ page.wrench | date: "%Y-%m-%d" }}</em></csmall>
						{% else %}
						<csmall>本文发布于：<em>{{ page.date | date: "%Y-%m-%d" }}</em></csmall>
						{% endif %}
						<csmall><em> | {{ site.description }}</em></csmall>
					</center>

					<div class="hline"></div>

					<h1>
						<span class="post-print pull-right"><a href="javascript:window.print()"><ion-icon name="print-sharp" class="fa-1x"></ion-icon></a></span>
						<span class="post-print pull-right"><a href="{{site.githubAccess}}/{{site.githubRepos}}/edit/{{site.githubRepos-Branch}}/{{page.path}}"><ion-icon name="create" class="fa-1x"></ion-icon></a></span>
					</h1>

					{{ content }}

					<div class="spacing"></div>
					{% include suggestion.html %}

				</div><!--page content end-->
			</div><!-- about research name content -->

		<div class="col-sm-3 ml-hide">
			{% if page.toc %}<!--article-index-->
				<div class="nav nav-stacked tableOfContents_35-E thin-scrollbar">
				<strong><h5>文章目录</h5></strong>
			<li class="table-of-contents__left-border table-of-contents">
				<code-index-css>
				{% toc %}
				</code-index-css>
			</li>
				</div>
			{% else %}
			<div class="nav nav-stacked tableOfContents_35-E thin-scrollbar">
				<ul>
					<code-index-css>
						<strong><h5>404</h5></strong>
						<li class="table-of-contents"> {{ "Nothing Here ;)" | upcase}}</li>
					</code-index-css>
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
</div><!--/pages -->

<script src="/assets/js/sentryabout.js"></script>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
