<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/assets/css/common.css">
{% include head.html %}
    <body>
        <startprint2pdfs>
            <div id="research-content" class="col-sm-12 flex flex-column">
                {{ content }}
            </div>
        </startprint2pdfs>
    </body>
{% include default-add-func.html %}
</html>
<script>
/**
 * ADD class display for External Link
 * **/
jQuery(function($) {
    $(document.links)
        .filter(function() {return this.hostname;})
        .each(function() {
            if (this.hostname !== location.hostname && this.hostname !== 'github.com'){
                $(this).addClass('fa fa-external-link-alt');
            } else if (this.hostname =='github.io'){
                $(this).addClass('fa fa-github');
            }
        });
});
</script>