---
layout: default
---

<div class="container mtb">
    <div class="row markdown-body-img">
        <! -- SINGLE POST -->
        <div class="col-lg-12">
            <! -- Blog Post  -->
            <a href="{{ page.url | prepend: site.baseurl }}"><h2 class="ctitle">{{ page.title }}</h2></a>
            <p><csmall>{% include article-YMH-note.html %}</csmall></p>
            {% if page.poster %}
            <img class="img-responsive event-poster" src="{%if page.poster contains 'http:' or page.poster contains 'https:'%}{{page.poster}}{%else%}{{"/assets/img/daily/"|prepend: site.baseurl}}{{page.poster}}{%endif%}" />
            {% endif %}
            <div class="post-content">
                {{ content }}
            </div>
            <div class="spacing"></div>
        </div><! --/col-lg-8 -->
    </div><! --/row -->
</div><! --/container -->
