---
layout: default
---

<div class="container mtb post-layout">
        <!-- SINGLE POST -->
        <div class="markdown-body-img flex-column">
            <!-- Blog Post  -->
            <h1 class="ctitle">{{ page.title }}</h1>
            <div class="post-meta-row">
                {% include article-YMH-note.html %}
            </div>
            <div class="post-content">
            {{ content }}
                {% include suggestion.html %}
            </div>
            <div class="spacing"></div>
        </div><!--/post-content -->
        {% include article-index.html %}
    </div><!--/row -->
</div><!--/container -->
