---
layout: default
---

<div class="container mtb">
    <div class="row d-flex ">
        <!-- SINGLE POST -->
        <div class="col-lg-8 markdown-body-img flex-column">
            <!-- Blog Post  -->
            <a href="{{ page.url | prepend: site.baseurl }}"><h1 class="ctitle">{{ page.title }}</h1></a>
            <csmall><div class="d-flex items-center">
                {% include article-YMH-note.html %}
            </div></csmall>
            <div class="post-content"> 
            {{ content }}
                {% include suggestion.html %}
            </div>
            <div class="spacing"></div>
        </div><!--/col-lg-8 -->
        {% include article-index.html %}
    </div><!--/row -->
</div><!--/container -->